<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617957317454-cbsqcioc6ucfmjnie8tdk0o2ipvo7knu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617957317454-cbsqcioc6ucfmjnie8tdk0o2ipvo7knu</string>
	<key>API_KEY</key>
	<string>AIzaSyD2byGVRcr7VAdW7wVmlvOvWIfN6-O_sZc</string>
	<key>GCM_SENDER_ID</key>
	<string>617957317454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WinsonCheung.Chatee</string>
	<key>PROJECT_ID</key>
	<string>chatee-9c226</string>
	<key>STORAGE_BUCKET</key>
	<string>chatee-9c226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617957317454:ios:093c73e31eb9a72ba4dc1f</string>
	<key>DATABASE_URL</key>
	<string>https://chatee-9c226.firebaseio.com</string>
</dict>
</plist>